
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    
}
.form-vertical .input-group label{
	padding-left:100px;
}
.form-vertical .input-group label span{
	width:400px;
}
.navbar-brand{
 
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  width: 183px;
  font-size: 17px;
}
.del{
	padding: 3px 21px;
}
.ed{
	padding: 3px 13px;
}
.del1{
 	padding-top: 10px;
}
.add{
	float:right; 
	width: 19%;
}
.page-header h1{
	
	font-size: 28px; 
	text-transform:uppercase;

}
#example_filter{
	padding-top: 15px;
}
#example{
	
}
.special1 {
	width: 107%!important;
}
.form-group label{
	margin-right:5%;
	}
.sign{
	width: 48%;
}
 #map-canvas{
  height: 480px;
  float: left;
  width: 460px;
  
}
#pharmacy{
	width: 50%; 
	float:left;
	padding-right:30px;
}
#address, #city, #street, #streetnumber,#email{
	width: 95%;
}
.emaildoc{
 
	width: 60%; 
	margin: 0 auto;
	margin-top: 3%;
}
.inputdoc, .invitation {
	width: 100%;
	
}

.navbar-brand {
  width: 125px;
  line-height: 0px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
  padding-bottom: 8px;
  
}
.nav.navbar-nav li{
	

margin-left: 10px;
margin-top: 8px;
}
.nav.navbar-nav li a:hover {
   
    border-bottom: 2px solid #4FA927;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #050505;
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#020B22 0,#000206 100%);
  background-image: linear-gradient(to bottom,#020B22 0,#000206 100%);
 
}
.navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top,#020B22 0,#000206  100%);
  background-image: linear-gradient(to bottom,#020B22 0,#000206 100%);
}
.cd-hero-slider li:first-of-type {
   background-image: linear-gradient(to bottom,#000000 0,#02102D 100%);
  background-color: #000;
  background-repeat: repeat-x;
}
.navbar-inverse {
  background-color: #000;
  border-color: #000000;
}
.cd-hero-slider .cd-btn {
  background-color: rgba(31, 111, 18, 0.9)!important;
}