
body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    
}
.form-vertical .input-group label{
	padding-left:100px;
}
.form-vertical .input-group label span{
	width:400px;
}
.navbar-brand{
 
  letter-spacing: 2px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  width: 183px;
  font-size: 17px;
}
.del{
	padding: 3px 21px;
}
.ed{
	padding: 3px 13px;
}
.del1{
 	padding-top: 10px;
}
.add{
	float:right; 
	width: 19%;
}
.page-header h1{
	
	font-size: 28px; 
	text-transform:uppercase;

}
#example_filter{
	padding-top: 15px;
}
#example{
	
}
.special1 {
	width: 107%!important;
}
.form-group label{
	margin-right:5%;
	}
.sign{
	width: 100%;
}
 #map-canvas{
  height: 480px;
  float: left;
  width: 460px;
  
}
#pharmacy{
	width: 50%; 
	float:left;
	padding-right:30px;
}
 #city, #street, #streetnumber,#email{
	width: 95%;
}
#address{
	width:100%;
}
#addressuser{
	width: 20%;
}
.emaildoc{
 
	width: 60%; 
	margin: 0 auto;
	margin-top: 3%;
}
.inputdoc, .invitation {
	width: 100%;
	
}

.navbar-brand {
  width: 125px;
  line-height: 0px;
  padding-top: 15px;
  padding-left: 0px;
  padding-right: 0px;
 
  padding-bottom: 8px;
  
}
.nav.navbar-nav li{
	

margin-left: 10px;
margin-top: 8px;
}
.nav.navbar-nav li a:hover {
   
    border-bottom: 2px solid #4FA927;
   
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #050505;
}
.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#020B22 0,#000206 100%);
  background-image: linear-gradient(to bottom,#020B22 0,#000206 100%);
 
}
.navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top,#020B22 0,#000206  100%);
  background-image: linear-gradient(to bottom,#020B22 0,#000206 100%);
}
.cd-hero-slider li:first-of-type {
  background-image: linear-gradient(to bottom,#000000 0,#02102D 100%);
  background-color: #000;
  background-repeat: repeat-x;
}
.navbar-inverse {
  background-color: #000;
  border-color: #000000;
}
.cd-hero-slider .cd-btn {
  background-color: rgba(31, 111, 18, 0.9)!important;
}
.navbar-brand img{
	width:100px;
}
.formuser{
	width: 50%;
}
.mapuser{
	float:right!important;
}
#datepicker{
	width: 100%;
}
#userprofile{
	width: 50%;
}
.user{
	width: 45%;
	float:left;
}
#userprofile .form-group .form-control {
	
}
.form-user{
	width:108%;
}

.userformcontainer{
	background : url('../img/pills.jpg');
}

.svg-main  {
  color: white;
  z-index: 1px;
  height: 420px;
  display: block;
  width: 100%;
  
}

.svg-main {
  fill: #f15a29;
  opacity: 0.8;
}
.adddetails{
background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    border:2px solid #fff;
    outline:none;
    color:white;
    padding:7px;
}
.adddetails:hover{
	
}

.svg-main svg {
  position: absolute;
  height: 420px;
  width: 100%;
  text-decoration: none;}
.sec-svg {
  background-position: center -435px;
}
.svg-main.sec-svg {
  fill: #4c4b5b!important;
}
.svg-main h1, .svg-main h2, .svg-main p {
  padding-bottom: 10px;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition-duration: 0.3s;
  margin-bottom: 0;
  width: 42%;
  color: #fff;
}


.usersignup,.userprofile {
  background: #119921;
  background-image: -webkit-linear-gradient(top, #119921, #116b1c);
  background-image: -moz-linear-gradient(top, #119921, #116b1c);
  background-image: -ms-linear-gradient(top, #119921, #116b1c);
  background-image: -o-linear-gradient(top, #119921, #116b1c);
  background-image: linear-gradient(to bottom, #119921, #116b1c);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
    border-color: #3BAB28;
    width: 27%;
}
.userprofile{
	width: 400px;
}
.usersignup:hover,.userprofile:hover {
  background: #085c08;
  background-image: -webkit-linear-gradient(top, #085c08, #08470a);
  background-image: -moz-linear-gradient(top, #085c08, #08470a);
  background-image: -ms-linear-gradient(top, #085c08, #08470a);
  background-image: -o-linear-gradient(top, #085c08, #08470a);
  background-image: linear-gradient(to bottom, #085c08, #08470a);
  text-decoration: none;
}

.login{
	
	color: white!important;
}
.login h1{
	text-transform:uppercase;
}
.login input[type=text]{
	width: 250px;
	height: 30px;
	background: transparent;
	border: 1px solid rgba(121, 124, 144, 0.6);
	border-radius: 2px;
	color: #101010;;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
}

.login input[type=password]{
	width: 250px;
	height: 30px;
	background: transparent;
	border:1px solid rgba(121, 124, 144, 0.6);
	border-radius: 2px;
	color: #101010;;
	
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	margin-top: 10px;
}

.login input[type=button]{
	width: 260px;
	height: 35px;
	background: #fff;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 2px;
	color: #a18d6c;
	
	font-size: 16px;
	font-weight: 400;
	padding: 6px;
	margin-top: 10px;
}

.login input[type=button]:hover{
	opacity: 0.8;
}

.login input[type=button]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color:rgba(68, 69, 77, 0.6);
}

::-moz-input-placeholder{
   color: rgba(68, 69, 77, 0.6);
}
#docname, #address, #datepicker,#firstname, #lastname{
	width: 400px!important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border-color: #FDFDFD;
  border: none;
}
.navbar-inverse {
  background-color: #FDFDFD;
  border-color: #FFFFFF;
}

.navbar-inverse {
  background-image: -webkit-linear-gradient(top,#FFFFFF 0,#FFFFFF 100%);
  background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #000;
  background-color: #FFFFFF;
}
.navbar-inverse .navbar-nav>.active>a {
  background-image: -webkit-linear-gradient(top,#FFFDFD 0,#FFFFFF 100%);
  background-image: linear-gradient(to bottom,#FFF 0,#FFFFFF 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222',endColorstr='#ff282828',GradientType=0);
  -webkit-box-shadow: inset 0 3px 9px rgba(255, 255, 255, 0.25);
  box-shadow: inset 0 3px 9px rgba(250, 250, 250, 0.25);
}
.navbar-brand img {
  width: 100%;
}
.cd-hero-slider li:first-of-type {
  background-image: linear-gradient(to bottom,#FFFFFF 0,#FFFFFF 100%);
  background-color: #FFF;
  background-repeat: repeat-x;
  background-image :url("../../img/174283720.jpg");
}
.cd-hero-slider li:nth-of-type(2) {
  
  background-image: url("../../img/sliderone.jpg")!important;
}
.cd-hero-slider li:nth-of-type(3) {
  
  background-image: url("../../img/pharmacyslider.jpg")!important;
}
.cd-hero-slider h2, .cd-hero-slider p {

  color: #000!important;
}

.cd-hero-slider p {
  font-size: 2rem!important;
}


#primary_nav_wrap ul
{
	list-style:none;
	position:relative;
	float:left;
	margin:0;
	padding:0
}

#primary_nav_wrap ul a
{
	display:block;
	color:#333;
	text-decoration:none;
	
	
}

#primary_nav_wrap ul li
{
	position:relative;
	float:left;

}

#primary_nav_wrap ul li.current-menu-item
{
	background:#ddd
}

#primary_nav_wrap ul li:hover
{
	background:#fff;
}

#primary_nav_wrap ul ul
{
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:200px
}

#primary_nav_wrap ul ul a
{
	line-height:120%;
	padding:10px 15px
}

#primary_nav_wrap ul ul ul
{
	top:0;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	display:block
}
.login {
  color: rgb(45, 38, 38)!important;
  width: 33%;
  margin: 0 auto;
   padding-top: 29%;
}
#userprofileform .login{
  color: rgb(45, 38, 38)!important;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px
}
.signupdoc{
	  width: 21%;
}
.cd-hero-slider li:nth-of-type(5) {
  background-color: #fff;
  background-image: url(../../img/1-min.jpg)!important;
}